<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="\static\css\main.css" rel="stylesheet">
  <link href="\static\css\style.css" rel="stylesheet">
  <title>microblog</title>
</head>

<body style="background: url('/static/images/neoncreate.jpg'); background-size: cover">
  <div class="modal fade" id="exampleModal" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Выберите действие:</h1>
        </div>
        <div class="modal-body">
          <div class="www">
            <form action="/create_field" method="post">
              <button type="submit" class="btn btn-secondary" name="delete_ship">Удалить кораблик</button>
            </form>
          </div>
          <div class='qqq'>
            <form action="/set_prize" method="post">
              <button type="submit" class="btn btn-secondary" name="change_prize">Поменять приз</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>
    const exampleModal = document.getElementById('exampleModal')
    if (exampleModal) {
      exampleModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget

        const coords = button.getAttribute('data-bs-whatever')

        const modalButton = exampleModal.querySelector('.modal-body .qqq button')
        const modalButton2 = exampleModal.querySelector('.modal-body .www button')

        modalButton.value = coords
        modalButton2.value = coords
      })
    }
  </script>



  {% if n == 0 %}
  <div class="mb-3">
    <form method="post" action="/create_field">
      <label for="exampleFormControlInput1" class="form-label">Введите размер поля(одно число до 26)</label>
      <input class="form-control abc" id="exampleFormControlInput1" name='size_pole' placeholder="">
      <button type="submit"
        style="border: 3px solid #f3c; background-color: transparent; color: black; position: relative; left: -7px;">Отправить</button>
    </form>
  </div>
  {% endif %}
  <table class="pole">
    <tbody>
      <th></th>
      {% for k in "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[:n] %}
      <th class="abcde">{{k}}</th>
      {% endfor %}
      {% for i in range(1, n + 1) %}
      <tr class="yacheika">
        {% for j in range(n + 1) %}
        <th class="yacheika">
          {% if [i, j] in d %}

          <button type="button" class="knopka" name="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
          data-bs-whatever="{{i}} {{j}}"><img
          style="width: 30px; height: 30px; position: relative; right: 7px; bottom: 3px;"
          src="static/images/12345.svg"></button>


          {% elif j == 0 %}
          <div class="cifri">
            {{i}}
          </div>
          {% else %}
          <form method="post" action="set_prize">
            <button type="submit" class="knopka" name="btn" value="{{i}} {{j}}"></button>
          </form>
          {% endif %}
        </th>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if n != 0 %}
  <form method="post" action="choise_client">
    <button type="submit" name="btn" value="{{n}}" class="choise"> Перейти к выбору пользователей</button>
  </form>
  {% endif %}
</body>

</html>